[submodule ".registry"]
	path = .registry
	url = https://github.com/ifpri/ifpri.r-universe.dev
	shallow = true
	branch = HEAD
[submodule "DOORMAT"]
	path = DOORMAT
	url = https://github.com/IFPRI/DOORMAT
	shallow = true
	registered = true
