[submodule ".registry"]
	path = .registry
	url = https://github.com/ifpri/ifpri.r-universe.dev
	branch = HEAD
[submodule "ARIA"]
	path = ARIA
	url = https://github.com/IFPRI/ARIA
[submodule "COLUMNIST"]
	path = COLUMNIST
	url = https://github.com/IFPRI/COLUMNIST
[submodule "DOORMAT"]
	path = DOORMAT
	url = https://github.com/IFPRI/DOORMAT
[submodule "EFFORT"]
	path = EFFORT
	url = https://github.com/IFPRI/EFFORT
[submodule "GFSir"]
	path = GFSir
	url = https://github.com/IFPRI/GFSir
[submodule "GTR"]
	path = GTR
	url = https://github.com/IFPRI/GTR
[submodule "KIRAN"]
	path = KIRAN
	url = https://github.com/IFPRI/KIRAN
[submodule "STATEROOM"]
	path = STATEROOM
	url = https://github.com/IFPRI/STATEROOM
[submodule "devtools"]
	path = devtools
	url = https://github.com/r-lib/devtools
[submodule "drat"]
	path = drat
	url = https://github.com/eddelbuettel/drat
	registered = false
[submodule "magclass"]
	path = magclass
	url = https://github.com/pik-piam/magclass
[submodule "reportIMPACT"]
	path = reportIMPACT
	url = https://github.com/IFPRI/reportIMPACT
